server:
  port: 80
spring:
  application:
    name: cloud-order-consumer
  datasource:
    username: root
    type: com.alibaba.druid.pool.DruidDataSource
    password: 123456
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://localhost:3306/db2021?useUnicode=true&characterEncoding=utf-8&useSSL=false

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.atzy.springcloud.beans

eureka:
  instance:
    appname: cloud-order-consumer
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:7001/eureka/
