<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atzy.springcloud.dao.StorageDao">
<!--    Storage changeStorage(@Param("productId") long productId,@Param("num") Integer num);-->
    <update id="changeStorage" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        update `t_storage` set used = `used` + #{num} ,
        `residue` = `residue` - #{num}
        where product_id = #{productId}
    </update>
</mapper>