server:
  port: 8001
spring:
  application:
    name: cloud-payment-service
  datasource:
    username: root
    type: com.alibaba.druid.pool.DruidDataSource
    password: 123456
    driver-class-name: org.gjt.mm.mysql.Driver
    url: jdbc:mysql://localhost:3306/db2021?useUnicode=true&characterEncoding=utf-8&useSSL=false

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.atzy.springcloud.beans
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/
#      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/
  instance:
    instance-id: cloud-payment-service-8001
    prefer-ip-address: true
    #设置发送心跳时间
    lease-renewal-interval-in-seconds: 1
    #设置服务器收到心跳时间后等待的时间 超时将剔除服务
    lease-expiration-duration-in-seconds: 2
